<h2>Add Comment</h2>

  <%= form_for [parent, parent.comments.new] do |f| %>
    <div class="form-group">
        <%= f.text_field :body,
                         class: 'form-control',
                         placeholder: "Enter Your Comment Here"
                        %>
    </div>
  <% end %>
